.DS_Store
/.idea
/venv
/venv/*
venv*
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
docs/_build/
*/venv/
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
